fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
geoalchemy2
geopandas
python-dotenv
python-jose[cryptography]
bcrypt
python-multipart
pydantic[email]
opencv-python-headless
Pillow
numpy
ultralytics
boto3
